<% content_for :full_box do %>flag
<% end %>
<div class="row">
  <div class="col-md-3">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Menu</h3>

        <div class="box-tools">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked">
          <li class="active" id="li_index">
            <a id="notifications-index" href="#index"><i class="fa fa-inbox"></i> Não lidas
              <% if @notifications.where(read: false).size > 0 %>
                  <span class="label label-primary pull-right"><%= @notifications.where(read: false).size %></span>
              <% end %>
            </a></li>
          <li id="li_lidas"><a id="notifications-lidas" href="#notificacoeslidas"><i class="fa fa-envelope-open-o"></i> Lidas</a></li>
          <li id="li_enviadas"><a id="notifications-enviadas" href="#notificacoesenviadas"><i class="fa fa-upload"></i> Solicitações Enviadas</a></li>
          <li id="li_todas"><a id="notifications-todas" href="#todas"><i class="fa fa-trash-o"></i> Todas</a></li>
        </ul>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /. box -->
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Legenda</h3>

        <div class="box-tools">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked">
          <li><label class="panel-heading"><i class="fa fa-circle-o text-red"></i> Tabela de retirada do lixo</label>
          </li>
          <li><label class="panel-heading"><i class="fa fa-circle-o text-yellow"></i> Tabela de alimentação</label></li>
          <li>
            <label class="panel-heading"><i class="fa fa-circle-o text-light-blue"></i> Tabela de limpeza das geladeiras</label>
          </li>
          <li>
            <label class="panel-heading"><i class="fa fa-circle-o text-green"></i> Tabela de limpeza da cozinha</label>
          </li>
        </ul>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
  <div id="notifications-content" class="col-md-9">
    <% if params[:q] %>
        <%= render 'notification', notification: @notification %>
    <% else %>
        <%= render 'list', notifications: @notifications.where(read: false) %>
    <% end %>
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
<script>
    $(document).ready(function () {
        $('#notifications-index').click(function () {
            $('#notifications-content').html('<%= escape_javascript(render 'list', notifications: @notifications.where(read: false)) %>');
            window.history.replaceState({}, document.title, "/notifications");
            $('li[id^=li_]').removeClass('active');
            $('li[id$=li_index]').addClass('active');
        });
        $('#notifications-lidas').click(function () {
            $('#notifications-content').html('<%= escape_javascript(render 'list', notifications: @notifications.where(read: true)) %>');
            window.history.replaceState({}, document.title, "/notifications");
            $('li[id^=li_]').removeClass('active');
            $('li[id$=li_lidas]').addClass('active');
        });
        $('#notifications-enviadas').click(function () {
            $('#notifications-content').html('<%= escape_javascript(render 'list', notifications: sent_notifications ) %>');
            window.history.replaceState({}, document.title, "/notifications");
            $('li[id^=li_]').removeClass('active');
            $('li[id$=li_enviadas]').addClass('active');
        });
        $('#notifications-todas').click(function () {
            $('#notifications-content').html('<%= escape_javascript(render 'list', notifications: @notifications ) %>');
            window.history.replaceState({}, document.title, "/notifications");
            $('li[id^=li_]').removeClass('active');
            $('li[id$=li_todas]').addClass('active');
        });
    });
</script>