<%= content_for :full_box do %>flag<% end %>

<div class="box box-default">

  <div class="box-body">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-bordered datatables2">
          <thead>
          <tr>
            <th>Matrícula</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Curso</th>
            <th>Quarto</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @user.reg_number %></td>
              <td><%= @user.name %></td>
              <td><%= @user.email %></td>
              <td><%= link_to @user.course.name, course_path(@user.course.id) %></td>
              <td><%= link_to @user.room.room, room_path(@user.room.id) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
