<% me = current_user %>
<li class="header"><strong><%= t('activerecord.attributes.notification.count', count: me.notifications.where(read: false).count) %></strong></li>
<li>
  <!-- inner menu: contains the actual data -->
  <ul class="menu">
    <% me.notifications.where(read: false).each do |notification| %>
        <li>
          <%= link_to notifications_path(q: notification.id) do  %>
            <i class="fa fa-<%=notification.table_type %> text-yellow"></i> <%= notification.subject %>
          <% end %>
        </li>
    <% end %>
    <!--<li>-->
      <!--<a href="#">-->
        <!--<i class="fa fa-users text-red"></i> Fulano recusou sua solicitação de troca-->
      <!--</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="#">-->
        <!--<i class="fa fa-shopping-cart text-green"></i> 25 sales made-->
      <!--</a>-->
    <!--</li>-->
  </ul>
</li>
<li class="footer"><a href="<%= notifications_path %>">Ver todas as notificações</a></li>